---
import { SEO } from "astro-seo";
import InfoPage from "~layouts/InfoPage.astro";
import GlassContainer from "~components/GlassContainer.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";

const projects = (await getCollection("projects")) as CollectionEntry<"projects">[];
const sortedProjects = projects.sort((a, b) => (a.data.order || 0) - (b.data.order || 0)); // Sort projects by their order

// Pre-render all project content
const projectsWithContent = await Promise.all(
    sortedProjects.map(async (project: CollectionEntry<"projects">) => {
        const { Content } = await render(project);
        return { ...project, Content };
    })
);
---

<InfoPage>
    <!-- Metadata head -->
    <div slot="head">
        <SEO
            title="Skrazzo - Projects"
            description="Explore Skrazzo's curated portfolio of projects, showcasing unique creations like Picuss, Ruckas Muiza, and Coffee Time. Dive into innovative ideas, collaborative efforts, and creative designs that highlight full-stack development expertise."
            openGraph={{
                basic: {
                    title: "Skrazzo - Projects",
                    type: "Website",
                    image: "/projects-preview.webp",
                },
            }}
        />
    </div>

    <GlassContainer className="mb-[80px] md:mt-[80px]">
        <h1 slot="title" class="text-gradient title-gradient-left">Projects</h1>

        <main class="flex flex-col mt-4">
            {
                projectsWithContent.map(({ Content, data, id }) => (
                    <a href={`/projects/${id}`} class="group">
                        <div class="rounded-lg overflow-hidden flex flex-col sm:flex-row gap-6 p-4 -mx-4 transition-all duration-300 hover:bg-background-opacity-15">
                            <Image
                                src={data.image}
                                alt={data.title}
                                class="object-cover rounded-md sm:w-[300px] border-2 border-text-light"
                                transition:name={data.title}
                            />

                            <div class="flex-1 flex flex-col justify-between">
                                <h2 class="font-bold text-gradient title-gradient-left w-fit">{data.title}</h2>
                                <div class="project-description text-dimmed line-clamp-2 sm:line-clamp-5 md:line-clamp-4 lg:line-clamp-3">
                                    <Content />
                                </div>
                            </div>
                        </div>
                    </a>
                ))
            }
        </main>
    </GlassContainer>
</InfoPage>

<style>
    h2 {
        font-size: clamp(var(--text-mobile-lg), 3vw, var(--text-lg));
    }

    .project-description {
        font-size: clamp(var(--text-mobile-sm), 2vw, var(--text-sm));
    }
</style>
